    .blog {
        overflow: auto;
        padding: 2em;
        margin: auto;
        h2 {
            text-align: center;
        }
        &-cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            &_card {
                background-color: rgba(239, 255, 248, 0.897);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                width: 100%;
                margin: 0.5em 0;
                padding: 1em;
                border: 1px solid $secondary-color;
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    margin-bottom: 1.5em;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    
    @media screen and (min-width: 768px) {
        .blog {
            padding: 2em;
            .blog-heading {
                font-size: 3rem;
            }
            &-cards {
                padding: 1em 0;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2em;
                row-gap: 1em;
                &_card {
                    @include transition-ease;
                    &--zoom {
                        height: 250px;
                        overflow: hidden;
                        border-radius: 10px;
                        margin-bottom: 2em;
                        img {
                            @include transition-ease-in-out;
                            border-radius: 0;
                        }
                    }
                    &--zoom:hover img {
                        // transition-delay: 0.2s;
                        transform: scale(1.1);
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                &_card:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    transition-delay: 0.2s;
                }
            }
        }
    }
    
    @media screen and (min-width: 1300px) {
        .blog {
            padding: 2em;
            .blog-heading {
                font-size: 3rem;
            }
            &-cards {
                padding: 1em 0;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2em;
                row-gap: 1em;
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }