.home {
    padding-bottom: 1em;
    font-size: 1.5rem;
    .container {
        padding: 1em 0.5em;
        display: flex;
        flex-direction: column-reverse;
        &1 {
            padding: 1em 0em;
            &-head {
                text-decoration: underline;
            }
            &-head__down {
                color: $secondary-color;
            }
            p {
                font-size: 1.1rem;
            }
        }
        &2 {
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
    nav {
        height: 4.5em;
        flex-direction: row;
        justify-content: space-between;
        .logo {
            flex: 6%;
        }
        .main-heading {
            text-align: left;
            margin-left: 2em;
            // margin-left: auto;
            font-size: 4rem;
            flex: 25%;
        }
        .nav-lists {
            padding: 1em;
            transform: translate(0);
            visibility: visible;
            margin: 0;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            flex: 31%;
            ul {
                flex-direction: row;
                a {
                    margin-right: 1em;
                }
            }
        }
    }
    .home {
        padding: 2em 1.5em 0em 1.5em;
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1em;
            &2 {
                overflow: hidden;
                // height: 400px;
                // width: 1000px;
                // border: 1px solid black;
                @include transition-ease-in-out;
            }
            img {
                @include transition-ease-in-out;
            }
            .container2:hover img {
                transform: scale(1.2);
                @include transition-ease-in-out;
            }
            h1,
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.1rem;
            }
            img {
                max-width: 110em;
                margin-left: 1em;
            }
        }
    }
}

@media screen and (min-width: 1028px) {
    .home {
        padding: 0.8em 1.5em 0em 1.5em;
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
            h1,
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
            img {
                max-width: 110em;
            }
        }
    }
}