@import 'config';
@import 'nav';
@import 'home';
@import 'services';
@import'blog';
@import 'contact';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $primary-color;
}

h2 {
    font-weight: 900;
    color: $primary-color;
}

a {
    text-decoration: none;
}

button {
    margin-top: 0.5em;
    display: block;
    width: 7em;
    height: 1.5em;
    font-size: 1.5rem;
    background-color: $secondary-color;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 0.6em;
    background-color: rgb(255, 254, 254);
    border: .1px solid rgb(47, 45, 45);
}

body::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    // margin: 0 1em;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    border-radius: 10px;
}